@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #dc2626;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b91c1c;
}